@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

/* Inter Font Face Declarations */


@font-face {
  font-family: 'Inter';
  src: url('/interblack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BeautiqueDisplayCondensed';
  
  src: url('/BeautiqueDisplayCondensed-Black.otf') format('opentype');

  font-weight: 900;
}
@font-face {
  font-family: 'BeautiqueDisplayCondensed-BlackItalic';
  src: url('/BeautiqueDisplayCondensed-BlackItalic.otf') format('opentype');
  font-weight: 900;
}




.krrid-heading {
  font-family: 'BeautiqueDisplayCondensed';
  font-weight: 900;
  font-size: 68px;
  color: #0a0a0a;

}

.bg-krrid-highlight {
    font-weight: 900;
  font-family: 'BeautiqueDisplayCondensed-BlackItalic';
  background: linear-gradient(90deg, #47D4EB 0%, #ffffff 100%);
  display: inline-block;
  line-height: 0.9;

  /* letter-spacing: -0.02em; */
  /* border-radius: 0.18em; */
  padding-left: 0.1em;
  padding-top: 0.18em;
  margin: 0 0.2em;
}


